<form class="form" name="signIn">
    <div class="form-group">
        {{{inputLogin}}}
        <span id="login-error" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputPassword}}}
        <span id="passwordError" class="form-error"></span>
    </div>
    {{{buttonSubmit}}}
    {{{buttonSignUp}}}
</form>