<form class="form">
    <div class="form-group">
        {{{inputLogin}}}
        <span id="error-login" class="form-error">Не верный формат логина</span>
    </div>
    <div class="form-group">
        {{{inputPassword}}}
        <span id="error-password" class="form-error">Не верный формат пароля</span>
    </div>
    {{{buttonSubmit}}}
    {{{buttonSignUp}}}
</form>