@import '../../../styles/variables.less';

.btn-submit {
  padding: 12px;
  background-color: @lightblue;
  border-radius: 8px;
  width: 100%;

  &:hover {
    opacity: .8;
  }
}

.btn-option {
  background-color: transparent;
  color: @lightblue;
  margin-top: 20px;
  width: 100%;

  &:hover {
    opacity: .8;
  }
}

.btn-pages {
  background-color: transparent;
  color: @font-color;
  font-size: 24px;
  margin-top: 20px;
  width: 100%;

  &:hover {
    opacity: .7;
  }
}
