.toolbar {
  padding: 14px 0;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid rgba(138, 196, 255, 0.3);
}

.toolbar__btn {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  align-self: flex-end;
  padding: 14px 0;
  cursor: pointer;
  text-decoration: none;
}

.toolbar__search {
  border-radius: 5px;
}

.cell {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(138, 196, 255, 0.3);
  align-items: center;
}

.cell__text {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
  margin-right: 15px;
  max-width: 193px;
}

.cell__paragraph {
  color: #999;
  font-size: 12px;
}

.cell__time {
  font-size: 10px;
  color: #999;
}

.cell__msg-count {
  height: 20px;
  width: 20px;
  font-size: 11px;
  background-color: #1067bc;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: flex-start;
  padding: 10px 20px;
}

.content__info-msg {
  color: #999;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

.content__info-panel {
  border-bottom: 1px solid #8ac4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.content__chat {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding-top: 12px;
}

.content__msg-panel {
  border-top: 1px solid #8ac4ff;
  width: 100%;
  padding: 15px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.info-panel__card {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.info-panel__card p {
  margin-left: 10px;
}

.info-panel__avatar {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background-color: #364f6b;
}

.info-panel__name {
  margin-left: 10px;
}

.info-panel__menu {
  flex-flow: column;
  align-items: flex-start;
  min-width: 200px;
  padding: 12px;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 5;
  background-color: #364f6b;
  border-radius: 12px;
  border: 1px solid rgba(138, 196, 255, 0.3);
  display: none;
}

.info-panel__menu_show {
  display: flex;
}

.info-panel__menu_icon {
  border: 2px solid #8ac4ff;
  border-radius: 50px;
  padding: 3px;
  margin-right: 6px;
}

.info-panel__menu-btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.msg-panel__search {
  width: 88%;
  border-radius: 30px;
  margin: 0 10px;
}

.msg-panel__add-file {
  position: relative;
  display: block;
}

.msg-panel__add-file_show {
  display: none;
}

.modal-options {
  display: none;
  flex-flow: column;
  align-items: flex-start;
  min-width: 160px;
  position: absolute;
  bottom: 65px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(138, 196, 255, 0.3);
  color: #fffafa;
  background-color: #364f6b;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  z-index: 5;
}

.modal-options__point {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  font-size: 12px;
}

.modal-options svg {
  margin-right: 8px;
}

.modal-options_show {
  display: flex;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  /* Black w/ opacity */
  display: none;
}

.modal__content {
  background-color: #364f6b;
  border: 1px solid rgba(138, 196, 255, 0.3);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  padding: 40px;
  border-radius: 8px;
}

.modal__link {
  color: #8ac4ff;
  font-size: 12px;
  text-decoration: #8ac4ff underline;
  cursor: pointer;
  margin: 20px 0;
}

.main {
  display: grid;
  grid-template-columns: 340px 1fr;
  align-self: auto;
  border: 1px solid rgba(138, 196, 255, 0.3);
  border-radius: 5px;
}

.sidebar {
  border-right: 1px solid rgba(138, 196, 255, 0.3);
  width: 320px;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar__list {
  margin: 0;
  padding: 0;
}

.chat__wrap {
  padding: 12px;
  border-radius: 12px;
  width: 50%;
  margin-bottom: 12px;
}

.chat__wrap_get {
  background-color: #2b5278;
  border-top-left-radius: 0;
}

.chat__wrap_send {
  background-color: #1067bc;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.chat__wrap_date {
  color: #999;
  align-self: center;
  font-size: 12px;
  text-align: center;
}

.chat__text {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.chat__text p {
  margin: 0;
}

.input__search {
  border: none;
  background-color: #364f6b;
  color: #fffafa;
  outline: none;
  padding: 10px;
}

.input__search::placeholder {
  color: #999;
  font-weight: 500;
}

.input__search:focus {
  box-shadow: 0 0 5px #0064b3;
}

.button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.badge__name {
  font-size: 13px;
  margin: 4px 0;
}

.badge__avatar {
  width: 47px;
  height: 47px;
  border-radius: 50px;
  background-color: #364f6b;
}

.sidebar-back {
  border-right: 1px solid #8ac4ff;
  display: flex;
  align-items: center;
  padding: 18px;
}

.sidebar-back__btn {
  cursor: pointer;
}

.profile-content {
  width: 100%;
  padding: 60px;
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #364f6b;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 40px;
}

.profile-title {
  margin-bottom: 40px;
}

.profile-form-wrap {
  border: 0;
}

.profile-form {
  align-items: center;
  max-width: 510px;
}

.profile-form-group {
  margin-bottom: 20px;
}

.profile-form-input {
  text-align: right;
  color: #999;
}

.profile-form-label {
  font-size: 13px;
  top: 6px;
  color: #fffafa;
}

.profile-btn {
  width: 50%;
  margin-top: 30px;
}
