body {
  background-color: #1b2e42;
  color: #fffafa;
  font-family: 'Tahoma', sans-serif;
  font-weight: 500;
}

input {
  background-color: #1b2e42;
  border: none;
  outline: none;
  color: #fffafa;
  padding: 5px;
}

input-webkit-autofill {
  background-color: #999;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fffafa;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.root {
  min-height: 97vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-list li {
  margin-top: 12px;
  list-style-type: none;
  font-size: 20px;
}

.page-list li a {
  color: #fffafa;
}

.page-list li a:hover {
  color: #999;
}

.error-page {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.error-page__title {
  font-size: 160px;
  font-weight: normal;
  letter-spacing: 20px;
}

.error-page__subtitle {
  font-size: 28px;
  font-weight: normal;
}

.error-page__back {
  color: #8ac4ff;
  margin-top: 20px;
}

.form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}

.form-wrap {
  border-radius: 12px;
  border: 1px solid rgba(138, 196, 255, 0.3);
  min-width: 320px;
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.form-label {
  font-size: 11px;
  color: #999;
  position: absolute;
  top: 0;
  left: 5px;
}

.form-input {
  border-bottom: 1px solid;
  border-bottom-color: #8ac4ff;
  width: 97%;
}

.form-input::placeholder {
  color: #999;
}

.form-input_error {
  border-bottom-color: #ec4336;
}

.form-btn-submit {
  padding: 12px;
  background-color: #8ac4ff;
  border-radius: 8px;
}

.form-btn-option {
  background-color: transparent;
  color: #8ac4ff;
  margin-top: 20px;
}

.form-btn-cancel {
  background-color: #ec4336;
  border-radius: 8px;
  padding: 12px;
}

.form-error {
  color: #ec4336;
  font-size: 11px;
  position: absolute;
  top: 32px;
  display: none;
}
